#pinboard {
    margin: 20em 0 0 40em;
    height: auto;
    width: 20rem;
    background-color: bisque;
    text-align: center;
    border-radius: 5%;
}

#pinboard>a {
    color: rgb(255, 145, 0);
}

a {
    display: block;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

h1 {
    padding-top: 1em;
}